html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  grid-template-areas: 
    "logo logo nav nav"
    "main main main main"
    "footer footer footer footer";
}

header {
  grid-area: logo;
}
nav {
  grid-area: nav;
}

