html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

p {
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 55px auto auto;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

header {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ff5205;
  grid-area: header;
  background-color: #ffffff;
  padding: 0 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  height: 55px;
}

header h1 {
  margin: 0;
}

header a {
  text-decoration: none;
  color: #000;
}

#mainNav ul {
  display: block;
  margin: 0;
}

#mainNav li {
  display: inline-block;
  padding-left: 0;
  margin: 0;
}

#mainNav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
}

#mainNav a:hover {
  background-color: rgb(245, 248, 250);
  height: 100%;
  width: 100%;
}

.sidemenu {
  display: none;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

#sideNav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-right: none;
}

/* The navigation menu links */
#sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.3s;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

/* When you mouse over the navigation links */
#sideNav .sidelink:active {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* Position and style the close button (top right corner) */
#sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #000;
  text-decoration: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #sideNav {
    padding-top: 15px;
  }
  #sideNav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  #mainNav {
    display: none;
  }
  header {
    padding-left: 10px;
  }
  .sidemenu {
    display: inline-block;
  }
  header h1 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 450px) {
  .sidemenu {
    width: 30px;
    height: auto;
  }
}

main {
  grid-area: main;
}

.center {
  text-align: center;
}

.intro {
  background-color: rgb(245, 248, 250);
  border-bottom: solid 1px rgba(0, 0, 0, 0.125);
  width: 100%;
  padding: 50px 10px;
}

.headshot {
  width: 100px;
  margin: 0 auto;
}
.intro img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 25px 10px;
}

.skills {
  background-color: rgb(245, 248, 250);
  border-bottom: solid 1px rgba(0, 0, 0, 0.125);
  width: 100%;
  padding: 15px 10px;

}

.skills-icons {
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 2rem;
  margin: 0 auto;
  justify-content: center;
  }

  .skills-icons i {
    padding: 0 10px;
    line-height: 1.5;
  }

.skills-rank {
  display: flex;
  flex-wrap: wrap;
  
}

.skills-rank h1 {
  text-align: center;
  width: 100%;
}

.skills-container {
  width: 50%;
  background-color: #ddd;
  padding: 10px;
}

.skills-graph {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.react {width: 60%; background-color: #808080;}

.skill-description {
  width: 50%;
  padding: 10px;
}

#contact {
  height: 200px;
  background-color: rgb(245, 248, 250);
  border-top: 3px solid #ff5205;
  margin-top: 25px;
}
footer {
  grid-area: footer;
  height: 25px;
}