html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

p {
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 55px auto auto;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

header {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ff5205;
  grid-area: header;
  background-color: #ffffff;
  padding: 0 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  height: 55px;
}

header h1 {
  margin: 0;
}

header a {
  text-decoration: none;
  color: #000;
}

#mainNav ul {
  display: block;
  margin: 0;
}

#mainNav li {
  display: inline-block;
  padding-left: 0;
  margin: 0;
}

#mainNav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
}

#mainNav a:hover {
  background-color: rgb(245, 248, 250);
  height: 100%;
  width: 100%;
}

.sidemenu {
  display: none;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

#sideNav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-right: none;
}

/* The navigation menu links */
#sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.3s;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

/* When you mouse over the navigation links */
#sideNav .sidelink:active {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* Position and style the close button (top right corner) */
#sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #000;
  text-decoration: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #sideNav {
    padding-top: 15px;
  }
  #sideNav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  #mainNav {
    display: none;
  }
  header {
    padding-left: 10px;
  }
  .sidemenu {
    display: inline-block;
  }
  header h1 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 450px) {
  .sidemenu {
    width: 30px;
    height: auto;
  }
}

main {
  grid-area: main;
}

.center {
  text-align: center;
}

.intro {
  background-color: rgb(245, 248, 250);
  border-bottom: solid 1px rgba(0, 0, 0, 0.125);
  width: 100%;
  padding: 50px 10px;
}

.headshot {
  width: 100px;
  margin: 0 auto;
}
.intro img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 25px 10px;
}

.skills {
  background-color: rgb(245, 248, 250);
  border-bottom: solid 1px rgba(0, 0, 0, 0.125);
  width: 100%;
  padding: 15px 10px;

}

.skills-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 2rem;
  margin: 0 auto;
  justify-content: center;
  }

  .skills-container i {
    padding: 0 10px;
    line-height: 1.5;
  }



footer {
  grid-area: footer;
}






//Setup
@import url(https://fonts.googleapis.com/css?family=Open+Sans); 

@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

$baseFontSize: 16px;
$baseLineHeight: 1;

$chartGap: 10px;
$chartCount: 3;
$chartOneCount: 11;
$chartTwoCount: 2;
$chartThreeCount: 4;
$totalChartCount: $chartOneCount + $chartTwoCount + $chartThreeCount;

$titleGap: 10px;
$titleHeight: $baseFontSize * $baseLineHeight + $titleGap;

$chartBarHeight: 30px;
$chartBarGap: 10px;



//Demo
.skills-rank {
  width: 80%;
  max-width: 960px;
  height: 780px;
  height: $totalChartCount * ($chartBarHeight + $chartBarGap) + ($chartCount * ($chartGap + $titleHeight));
  margin: auto;

  position: relative;
}

.lines {
  height: 100%;
  position: relative;
}
.line {
  height: inherit;
  width: 2px;

  position: absolute;

  background: rgba(#eee, 0.6);

  &.l--0 {
    left: 0;
  }
  &.l--25 {
    left: 25%;
  }
  &.l--50 {
    left: 50%;
  }
  &.l--75 {
    left: 75%;
  }
  &.l--100 {
    left: calc(100% - 1px);
  }
}
.line__label {
  display: block;
  width: 100px;
  text-align: center;

  position: absolute;
  bottom: -20px;
  right: -50px;

  &.title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.chart {
  &:not(:first-child) {
    margin-top: $chartGap;
  }
}

.chart__title {
  display: block;
  margin: 0 0 10px;

  font-weight: bold;

  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {}
  .chart--prod & {
    animation-delay: 3.3s;
  }
  .chart--design & {
    animation-delay: 4.5s;
  }
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  $border-rad: 4px;
  height: $chartBarHeight;
  margin-bottom: $chartBarGap;

  background: linear-gradient(to left, #4cb8c4, #3cd3ad);
  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {
    @include stagger-anim-delay($chartOneCount, 0.5s, 0.2s);
  }
  .chart--prod & {
    @include stagger-anim-delay($chartTwoCount, 3.8s, 0.2s);
  }
  .chart--design & {
    @include stagger-anim-delay($chartThreeCount, 5s, 0.2s);
  }
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}